<jr-header backUrl="/core/promoters" title="{{(promoter$ | async)?.name ? (promoter$ | async)?.name : 'Lade...'}}"></jr-header>

<ion-content>
  <ion-grid *ngIf="isLoading">
    <jr-spinner></jr-spinner>
  </ion-grid>
  <ion-grid *ngIf="!isLoading">
    <ion-row class="ion-text-center" *ngIf="(promoter$ | async)?.logoUrl">
      <ion-col>
        <ion-img [src]="(promoter$ | async)?.logoUrl" alt="" class="promoterDetail-image"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-item mode="ios" lines="none">
          <ion-label mode="ios">
            <h1><strong>{{(promoter$ | async)?.name}}</strong></h1>
          </ion-label>
        </ion-item>
        <ion-item mode="ios" lines="none">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label mode="ios">
            <h3>{{(promoter$ | async)?.contact}}</h3>
          </ion-label>
        </ion-item>
        <ion-item mode="ios" lines="none">
          <ion-icon slot="start" name="location-outline"></ion-icon>
          <ion-label mode="ios">
            <h3>{{(promoter$ | async)?.zip}} {{(promoter$ | async)?.city}}</h3>
            <h3>{{(promoter$ | async)?.address}}</h3>
          </ion-label>
        </ion-item>
        <ion-item mode="ios" lines="none">
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <ion-label mode="ios">
            <h3>{{(promoter$ | async)?.telephone}}</h3>
          </ion-label>
        </ion-item>
        <ion-item mode="ios" lines="none">
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          <ion-label mode="ios">
            <h3>{{(promoter$ | async)?.email}}</h3>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size-sm="6" offset-sm="3">
        <div class="ion-text-center">
          <ion-button mode="ios" expand="outline" fill="clear"  [href]="(promoter$ | async)?.homepage" target="_blank">Seite besuchen</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="(events$ | async) as events">
      <ion-row *ngIf="events.length !== 0">
        <ion-col size-sm="8" offset-sm="2">
          <ion-item lines="none">
            <ion-text>
              <h3>Nächste Events von <strong>{{(promoter$ | async)?.name}}</strong></h3>
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col size-sm="8" offset-sm="2">
          <app-event-item *ngFor="let event of events; trackBy : trackByEventId" [data]="event"></app-event-item>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
