.chatItem-newMessageIndicator {
  position: absolute;
  top: 15px;
  left: 12px;
  z-index: 2;
}

.chatItem-labelRowWrapper {
  display: flex;
}

.chatItem-labelRowMainItem {
  flex: 1;
}

.chatItem-avatar {
  background: grey;
  margin-right: 10px;
}
