<ion-card>
    <ion-badge mode="ios" *ngIf="data.unreadMessages" color="danger"
               class="chatItem-newMessageIndicator">{{data.unreadMessages}}</ion-badge>
    <ion-item button mode="ios" lines="none" [routerLink]="data.id">
        <ion-avatar class="chatItem-avatar">
            <ion-img [src]="data.chatPartner?.profileImg" alt="" *ngIf="data.chatPartner?.profileImg"></ion-img>
        </ion-avatar>

        <ion-label>
            <ion-text color="primary" class="chatItem-labelRowWrapper">
                <h2 class="chatItem-labelRowMainItem">{{data?.listingEvent?.track?.name}}</h2>
                <p>{{data?.listingEvent?.dateFrom | date: 'MM/dd/yyyy'}}</p>
            </ion-text>
            <div class="chatItem-labelRowWrapper">
                <p class="chatItem-labelRowMainItem">{{data.chatPartner?.username}}</p>
                <p class="ion-margin-end">{{data.lastMessageTimeStamp | date:'dd.MM.y, HH:mm'}}</p>
            </div>
            <ion-text>{{data.lastMessage}}</ion-text>
        </ion-label>
    </ion-item>
</ion-card>
