<jr-header backUrl="/core/tracks" title="{{(track$ | async)?.name ? (track$ | async)?.name : 'Lade...'}}"></jr-header>

<ion-content>
  <ion-grid *ngIf="isLoading">
    <jr-spinner></jr-spinner>
  </ion-grid>
  <ion-grid *ngIf="!isLoading">
    <ion-row class="ion-text-center" *ngIf="(track$ | async)?.layoutImgUrl">
      <ion-col>
        <ion-img [src]="(track$ | async)?.layoutImgUrl" alt="track-layout" class="trackDetail-image"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-item mode="ios" lines="none">
          <ion-label mode="ios">
            <h1><strong>{{(track$ | async)?.name}}</strong></h1>
          </ion-label>
        </ion-item>
        <ion-item mode="ios" lines="none">
          <ion-icon slot="start" name="location-outline"></ion-icon>
          <ion-label mode="ios">
            <h2>
              {{(track$ | async)?.country | country}}
            </h2>
            <h3>{{(track$ | async)?.zip}} {{(track$ | async)?.city}}</h3>
            <h3>{{(track$ | async)?.address}}</h3>
          </ion-label>
        </ion-item>
        <ion-item mode="ios" lines="none">
          <ion-icon slot="start" name="analytics-outline"></ion-icon>
          <ion-label mode="ios">
            <h3><strong>L:</strong> {{(track$ | async)?.length}}m</h3>
            <h3><strong>W:</strong> {{(track$ | async)?.width}}m</h3>
          </ion-label>
        </ion-item>
        <ion-item mode="ios" lines="none">
          <ion-icon slot="start" name="trail-sign-outline"></ion-icon>
          <ion-label mode="ios">
            <h3><strong>Fahrtrichtung:</strong> {{(track$ | async)?.drivingDirection}}</h3>
          </ion-label>
        </ion-item>
        <ion-item mode="ios" lines="none">
          <ion-icon slot="start" name="refresh-outline"></ion-icon>
          <ion-label mode="ios">
            <h3><strong>Kurven:</strong> {{(track$ | async)?.numberOfTurns}}</h3>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size-sm="8" offset-sm="2">
        <div class="ion-text-center">
          <ion-button mode="ios" fill="outline" [href]="(track$ | async)?.homepage" target="_blank">Seite besuchen</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="(events$ | async) as events">
      <ion-row *ngIf="events && events.length !== 0">
        <ion-col size-sm="8" offset-sm="2">
          <ion-item lines="none">
            <ion-text>
              <h3>Die nächsten Events auf <strong>{{(track$ | async)?.name}}</strong></h3>
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col size-sm="8" offset-sm="2">
          <app-event-item *ngFor="let event of events; trackBy : trackByEventId" [data]="event"></app-event-item>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
