<ion-header>
  <ion-toolbar>
    <ion-title>justrace for business</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Willkommen bei justrace for business

  <ion-button routerLink="business-auth">Anmelden</ion-button>
</ion-content>

