<ion-header mode="ios">
    <ion-toolbar mode="ios" color="primary">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="backUrl ? backUrl : 'core'"></ion-back-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
        <ion-buttons slot="end">
            <ng-content></ng-content>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
