<ion-item mode="ios" [formGroup]="parentForm">
    <ion-label mode="ios" position="floating">{{label}}</ion-label>
    <ion-input mode="ios" type="text" autocomplete autocorrect [formControlName]="parentFormControlName"></ion-input>
</ion-item>
