<jr-menu-header title="Strecken"></jr-menu-header>

<ion-content>
    <tb-infinite-scroll-content [infiniteService]="tracks$">
        <ion-grid>
            <ion-col size-md="8" offset-md="2">
                <ng-container>
                    <ion-chip mode="ios" color="primary" outline (click)="onOpenCountrySelector()">
                        <ion-label mode="ios">{{countryFilter ? (countryFilter | country) : 'Land'}}</ion-label>
                    </ion-chip>
                </ng-container>
                <ion-chip mode="ios" (click)="onClearFilter()" *ngIf="countryFilter">
                    <ion-label mode="ios">Löschen</ion-label>
                    <ion-icon mode="ios" name="close-circle"></ion-icon>
                </ion-chip>
            </ion-col>
            <ion-row>
                <ng-container *ngIf="(tracks$.data | async) as tracks">
                    <ion-col size-md="8" offset-md="2" class="ion-no-padding">
                        <app-track-item *ngFor="let track of tracks; trackBy: trackByTrackId"
                                        [data]="track"></app-track-item>
                        <div class="ion-text-center" *ngIf="tracks.length === 0 && !(tracks$.loading | async)">
                            <h4>Keine Strecken gefunden. Bitte Versuche es später erneut oder ändere die Filter Optionen.</h4>
                        </div>
                        <jr-spinner *ngIf="tracks.length === 0 && tracks$.loading | async"></jr-spinner>
                    </ion-col>
                </ng-container>
            </ion-row>
        </ion-grid>
    </tb-infinite-scroll-content>
</ion-content>

