<jr-header backUrl="/core/messenger" title="{{ chatPartner?.username ? chatPartner?.username : 'Lade...' }}"></jr-header>

<ion-content #content color="light" style="padding-bottom: 75px">
    <ion-grid>
        <jr-spinner *ngIf="!(messages$ | async)"></jr-spinner>
        <ion-row >
            <ion-col *ngFor="let data of messages$ | async;" size="11" [offset]="data.ownMessage ? 1 : 0" class="ion-no-padding">
                <tb-message  [data]="data" [username]="data.ownMessage ? null : chatPartner?.username"></tb-message>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <form [formGroup]="form" (submit)="onSubmit()">
        <ion-item class="chat-item" lines="none">
            <ion-input mode="ios" class="chat-input" formControlName="message"></ion-input>
            <ion-button slot="end" fill="clear" (click)="onSubmit()" [disabled]="!form.valid">
                <ion-icon  name="send-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </form>
</ion-footer>


