<ion-item mode="ios" button>
  <ion-label mode="ios">
    <h2>{{ data.track.name}}</h2>
    <h3>
      <ion-icon mode="ios" name="calendar"></ion-icon>
      <span> {{data.dateFrom | date}} </span>
      -
      <span> {{data.dateTo | date}} </span>
    </h3>
    <p>Veranstalter: {{data.promoter.name}}</p>
    <hr>
    <h3>€ {{data.price}}</h3>
  </ion-label>
  <ion-button mode="ios" slot="end" fill="clear" (click)="onEdit()" size="default">
    <ion-icon mode="ios" slot="icon-only" name="create"></ion-icon>
  </ion-button>
  <ion-button mode="ios" slot="end" fill="clear" (click)="onDelete()" size="default">
    <ion-icon mode="ios" slot="icon-only" name="trash"></ion-icon>
  </ion-button>
</ion-item>
