<ion-header mode="ios">
  <ion-toolbar mode="ios" color="secondary">
    <ion-buttons slot="start">
      <ion-button mode="ios" (click)="onDismissModal()">
        <ion-icon mode="ios" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Veranstalter zuweisen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <tb-promoter-select [parentForm]="form"></tb-promoter-select>
  <ion-button [disabled]="!form.valid" (click)="onSubmit()">
    Speichern
  </ion-button>
  <ion-button (click)="onAssignNewPromoterProfile()">
    Neuen Veranstalter erstellen
  </ion-button>
</ion-content>
