<ion-card mode="ios">
  <ion-item mode="ios" lines="none">
    <p slot="end">{{data.price | currency : 'EUR' }}</p>
    <ion-label mode="ios">
      <h2><strong>{{ data.track.name}}</strong></h2>
      <h3>{{data.dateFrom | date}}
        <span class="ion-hide-sm-down"> - {{data.dateTo | date}}</span>
      </h3>
    </ion-label>
    <ion-button mode="ios" slot="end" fill="clear" [routerLink]="'event/' + data.id" color="dark">
      <ion-icon mode="ios" slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
    <ion-button mode="ios" slot="end" fill="clear" (click)="onEdit()">
      <ion-icon mode="ios" slot="icon-only"  name="create-outline" color="dark"></ion-icon>
    </ion-button>
    <ion-button mode="ios" slot="end" fill="clear" (click)="onDelete()">
      <ion-icon mode="ios" slot="icon-only" name="trash-outline" color="danger"></ion-icon>
    </ion-button>
  </ion-item>
</ion-card>
