<jr-menu-header title="Admin Console"></jr-menu-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size-xs="6" offset-xs="3">
        <ion-button mode="ios" color="primary" routerLink="/core/admin/events" expand="block">Events</ion-button>
      </ion-col>

      <ion-col size-xs="6" offset-xs="3">
        <ion-button mode="ios" color="secondary" routerLink="/core/admin/promoters" expand="block">Veranstalter</ion-button>
      </ion-col>

      <ion-col size-xs="6" offset-xs="3">
        <ion-button mode="ios" color="tertiary" routerLink="/core/admin/tracks" expand="block">Strecken</ion-button>
      </ion-col>

      <ion-col size-xs="6" offset-xs="3">
        <ion-button mode="ios" color="primary" routerLink="/core/admin/business" expand="block">Business</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
