<jr-menu-header title="{{ isLogin ? 'Login' : 'Registrieren' }}"></jr-menu-header>

<ion-content class="ion-padding">
    <jr-spinner *ngIf="isLoading"></jr-spinner>
    <ng-container *ngIf="!isLoading">
        <form [formGroup]="form">
            <ion-grid>
                <ion-row>
                    <ion-col size-sm="6" offset-sm="3">
                        <ion-list mode="ios">
                            <ion-item mode="ios" *ngIf="!isLogin">
                                <ion-label mode="ios" position="floating">Benutzername</ion-label>
                                <ion-input mode="ios" type="text" formControlName="username"></ion-input>
                            </ion-item>
                            <ion-label mode="ios"
                                       *ngIf="!isLogin && !form.controls.username.valid && form.controls.username.touched"
                                       lines="none">
                                <p>Mindestens 6 Zeichen lang.</p>
                            </ion-label>
                            <ion-item mode="ios">
                                <ion-label mode="ios" position="floating">E-Mail</ion-label>
                                <ion-input mode="ios" type="email" formControlName="email"></ion-input>
                            </ion-item>
                            <ion-label mode="ios" *ngIf="!form.controls.email.valid && form.controls.email.touched"
                                       lines="none">
                                <p>Bitte gib eine gültige E-Mail Addresse ein.</p>
                            </ion-label>
                            <ion-item mode="ios">
                                <ion-label mode="ios" position="floating">Passwort</ion-label>
                                <ion-input mode="ios" type="password" formControlName="password">
                                </ion-input>
                            </ion-item>
                            <ion-label mode="ios"
                                       *ngIf="!form.controls.password.valid && form.controls.password.touched"
                                       lines="none">
                                <p>Mindestens 6 Zeichen lang.</p>
                            </ion-label>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-sm="6" offset-sm="3">
                        <ion-button mode="ios" type="button" color="primary" fill="clear" expand="block"
                                    (click)="onSwitchAuthMode()">
                            {{ isLogin ? "Noch kein Konto? Registriere dich jetzt" : "Du hast schon ein Konto? Login" }}
                        </ion-button>
                        <ion-button mode="ios" type="button" color="primary" *ngIf="!isLoading" expand="block"
                                    [disabled]="!form.valid"
                                    (click)="onSubmit()">
                            {{ isLogin ? 'Login' : 'Signup' }}
                        </ion-button>
                        <ion-button mode="ios" type="button" color="secondary" *ngIf="!isLoading" expand="block"
                                    (click)="onFacebookLogin()">
                            <ion-icon name="logo-facebook"></ion-icon>
                            Login mit Facebook
                        </ion-button>
                        <ion-button mode="ios" type="button" color="tertiary" *ngIf="!isLoading" expand="block"
                                    (click)="onGoogleLogin()">
                            <ion-icon name="logo-google"></ion-icon>
                            Login mit Google
                        </ion-button>
                        <ion-button mode="ios" type="button" color="secondary" fill="clear" expand="block"
                                    (click)="onPasswordForgotten()">Passwort vergessen?
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-sm="6" offset-sm="3">
                        <ion-button mode="ios" type="button" color="primary" fill="clear" expand="block"
                                    routerLink="/business/core">
                            Bist du Veranstalter? Melde dich hier an.
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </ng-container>
</ion-content>
