<div class="picker">
  <ion-img role="button" (click)="onPickImage()" class="image" [src]="selectedImage" 
    *ngIf="selectedImage && showPreview"></ion-img>
  <ion-button mode="ios" color="primary" (click)="onPickImage()" *ngIf="!selectedImage || !showPreview">
    <ion-icon mode="ios" name="camera" slot="start"></ion-icon>
    <ion-label mode="ios">{{ useCamera ? 'Take Picture' : 'Upload Image' }}</ion-label>
  </ion-button>
</div>
<input type="file" accept="image/jpeg" #filePicker (change)="onFileChosen($event)" />
