<jr-header backUrl="/core/admin" title="Veranstalter">
  <tb-json-picker (jsonPick)="onJsonPicked($event)"></tb-json-picker>
  <ion-button mode="ios" routerLink="/core/admin/promoters/new">
    <ion-icon mode="ios" slot="icon-only" name="add-outline"></ion-icon>
  </ion-button>
</jr-header>

<ion-content>
  <app-promoter-item *ngFor="let promoter of (promoters$ | async)" [data]="promoter"></app-promoter-item>
</ion-content>
