<jr-header backUrl="/core/profile"  title="Vervollständige dein Profil"></jr-header>

<ion-content>
  <ion-grid *ngIf="isLoading">
    <jr-spinner></jr-spinner>
  </ion-grid>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-text>
            Um den Buchungsvorgang fortsetzen zu können brauchen wir noch ein paar Informationen von dir. Bitte fülle alle Felder aus.
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item mode="ios">
            <ion-label mode="ios" position="floating">Email</ion-label>
            <ion-input mode="ios" type="email" autocomplete autocorrect formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="firstName"
                         label="Vorname"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="lastName"
                         label="Nachname"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-date-input [parentForm]="form" parentFormControlName="birthday" label="Geburtstag"
                         min="1950-01-01" max="2030-12-31"></tb-date-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="address" label="Addresse"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="zip" label="PLZ"></tb-text-input>
        </ion-col>
        <ion-col size-sm="4">
          <tb-text-input [parentForm]="form" parentFormControlName="city" label="Stadt"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-country-select [parentForm]="form"></tb-country-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="phoneNumber"
                         label="Telefon"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-button mode="ios" (click)="onUpdateProfile()" [disabled]="!form?.valid">
            <ion-icon mode="ios" name="checkmark" slot="start"></ion-icon>
            <ion-label>Profil Speichern</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
