<ion-card mode="ios" (click)="onShowDetails()">
    <ion-item mode="ios" button lines="none">
        <p slot="end">ab {{data.price | currency : 'EUR' }}</p>
        <ion-label mode="ios">
            <h2><strong>{{ data.track.name}}</strong></h2>
            <h3>{{data.dateFrom | date}}
                <span class="ion-hide-sm-down"> - {{data.dateTo | date}}</span>
            </h3>
            <p>{{data.promoter.name}}</p>
        </ion-label>
    </ion-item>
</ion-card>
