<jr-header backUrl="/core/admin" title="Events">
  <tb-json-picker (jsonPick)="onJsonPicked($event)"></tb-json-picker>
  <ion-button mode="ios" routerLink="/core/admin/events/new">
    <ion-icon mode="ios" slot="icon-only" name="add-outline"></ion-icon>
  </ion-button>
</jr-header>

<ion-content>
  <app-event-item *ngFor="let event of (events$ | async)" [data]="event"></app-event-item>
</ion-content>
