<jr-header backUrl="/core/admin" title="Strecken">
  <tb-json-picker (jsonPick)="onJsonPicked($event)"></tb-json-picker>
  <ion-button mode="ios" routerLink="/core/admin/tracks/new">
    <ion-icon mode="ios" slot="icon-only" name="add-outline"></ion-icon>
  </ion-button>
</jr-header>

<ion-content>
  <app-track-item *ngFor="let track of (tracks$ | async)" [data]="track"></app-track-item>
</ion-content>
