<ion-list mode="ios" *ngIf="!(isBusiness$ | async)">
    <ion-menu-toggle menu="main" routerLink="/core/events">
        <ion-item mode="ios" lines="none" button>
            <ion-icon mode="ios" name="home" slot="start"></ion-icon>
            <ion-label mode="ios">Home</ion-label>
        </ion-item>
    </ion-menu-toggle>
    <ion-list-header>
        <ion-label class="divider">Benutzer</ion-label>
    </ion-list-header>
    <ion-menu-toggle menu="main" routerLink="/core/profile">
        <ion-item mode="ios" lines="none" button>
            <ion-icon mode="ios" name="person" slot="start"></ion-icon>
            <ion-label mode="ios">Profil</ion-label>
        </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle menu="main" routerLink="/calendar">
        <ion-item mode="ios" lines="none" button>
            <ion-icon mode="ios" name="calendar-outline" slot="start"></ion-icon>
            <ion-label mode="ios">Kalender</ion-label>
        </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle menu="main" (click)="onAuthClick()">
        <ion-item mode="ios" lines="full" button>
            <ion-icon mode="ios" [name]="(isLoggedIn$ | async) ? 'log-out-outline' : 'log-in-outline'" slot="start"></ion-icon>
            <ion-label mode="ios">{{ (isLoggedIn$ | async) ? 'Logout' : 'Login' }}</ion-label>
        </ion-item>
    </ion-menu-toggle>
    <ion-list-header>
        <ion-label class="divider" >Über <span style="font-family: 'Orbitron'; color: #D72638;">just</span><span style="font-family: 'Orbitron';">race</span>.de</ion-label>
    </ion-list-header>
    <ion-menu-toggle menu="main" routerLink="/contact">
        <ion-item mode="ios" lines="none" button>
            <ion-icon mode="ios" name="information-circle-outline" slot="start"></ion-icon>
            <ion-label mode="ios">Kontakt</ion-label>
        </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle menu="main" routerLink="/privacy">
        <ion-item mode="ios" lines="none" button>
            <ion-icon mode="ios" name="lock-closed-outline" slot="start"></ion-icon>
            <ion-label mode="ios">Datenschutz</ion-label>
        </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle menu="main" routerLink="/feedback">
        <ion-item mode="ios" lines="full" button>
            <ion-icon mode="ios" name="chatbox-outline" slot="start"></ion-icon>
            <ion-label mode="ios">Feedback</ion-label>
        </ion-item>
    </ion-menu-toggle>
</ion-list>
<ion-list mode="ios" *ngIf="isBusiness$ | async">
    <ion-menu-toggle menu="main" routerLink="/core/events">
        <ion-item mode="ios" lines="none" button>
            <ion-icon mode="ios" name="home" slot="start"></ion-icon>
            <ion-label mode="ios">Home</ion-label>
        </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle menu="main" (click)="onBusinessAuthClicked()">
        <ion-item mode="ios" lines="none" button >
            <ion-icon mode="ios" [name]="(isBusinessLoggedIn$ | async) ? 'log-out-outline' : 'log-in-outline'" slot="start"></ion-icon>
            <ion-label mode="ios">{{ (isBusinessLoggedIn$ | async) ? 'Logout' : 'Login' }}</ion-label>
        </ion-item>
    </ion-menu-toggle>
</ion-list>

