<ion-item mode="ios">
  <ion-label>
    <h2>{{data?.email}}</h2>
  </ion-label>
  <ion-button mode="ios" slot="end" (click)="onApprove()" size="default" [color]="data?.isApproved ? 'danger' : 'success'">
    <ion-label mode="ios">{{data?.isApproved ? 'Konto sperren' : 'Konto freischalten'}}</ion-label>
  </ion-button>
  <ion-button mode="ios" slot="end" (click)="onAssignPromoter()" color="success" size="default" *ngIf="!data?.promoterId">
    <ion-label mode="ios">Veranstalter erstellen</ion-label>
  </ion-button>
  <ion-button mode="ios" slot="end" (click)="onRemovePromoter()" color="danger" size="default" *ngIf="data?.promoterId">
    <ion-label mode="ios">Veranstalter löschen</ion-label>
  </ion-button>
</ion-item>
