.trackItem-image {
  height: 10rem;
  width: 100%;
  object-fit: contain;
  background-color: white;
}

.trackItem-emptyImage {
  height: 10rem;
  width: 100%;
  background: #a2a4ab;
}

.trackItem-card {
  background-color: rgba(254, 165, 68, 0.5);
}
