<ion-card mode="ios" [color]="data.ownMessage ? 'secondary' : null" class="ion-no-margin message-card">
  <ion-card-header class="ion-no-padding message-header">
    <ion-card-subtitle style="display: flex">
      <ion-text style="flex: 1">
        {{!!username ? username : 'Du'}}
      </ion-text>
      <ion-text class="ion-margin-end">{{data.timestamp | date:'dd.MM.y, HH:mm'}}</ion-text>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    {{data.content}}
  </ion-card-content>
</ion-card>
