// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
//:root {
//  --ion-color-primary: #A7125C;
//  --ion-color-primary-rgb: 167,18,92;
//  --ion-color-primary-contrast: #ffffff;
//  --ion-color-primary-contrast-rgb: 255,255,255;
//  --ion-color-primary-shade: #931051;
//  --ion-color-primary-tint: #b02a6c;
//
//  --ion-color-secondary: #0078BF;
//  --ion-color-secondary-rgb: 0,120,191;
//  --ion-color-secondary-contrast: #ffffff;
//  --ion-color-secondary-contrast-rgb: 255,255,255;
//  --ion-color-secondary-shade: #006aa8;
//  --ion-color-secondary-tint: #1a86c5;
//
//  --ion-color-tertiary: #FEA544;
//  --ion-color-tertiary-rgb: 254,165,68;
//  --ion-color-tertiary-contrast: #000000;
//  --ion-color-tertiary-contrast-rgb: 0,0,0;
//  --ion-color-tertiary-shade: #e0913c;
//  --ion-color-tertiary-tint: #feae57;
//
//  --ion-color-success: #00ca5c;
//  --ion-color-success-rgb: 0,202,92;
//  --ion-color-success-contrast: #000000;
//  --ion-color-success-contrast-rgb: 0,0,0;
//  --ion-color-success-shade: #00b251;
//  --ion-color-success-tint: #1acf6c;
//
//  --ion-color-warning: #FEA544;
//  --ion-color-warning-rgb: 254,165,68;
//  --ion-color-warning-contrast: #000000;
//  --ion-color-warning-contrast-rgb: 0,0,0;
//  --ion-color-warning-shade: #e0913c;
//  --ion-color-warning-tint: #feae57;
//
//  --ion-color-danger: #f53c43;
//  --ion-color-danger-rgb: 245,60,67;
//  --ion-color-danger-contrast: #ffffff;
//  --ion-color-danger-contrast-rgb: 255,255,255;
//  --ion-color-danger-shade: #d8353b;
//  --ion-color-danger-tint: #f65056;
//
//  --ion-color-dark: #222428;
//  --ion-color-dark-rgb: 34,34,34;
//  --ion-color-dark-contrast: #ffffff;
//  --ion-color-dark-contrast-rgb: 255,255,255;
//  --ion-color-dark-shade: #1e2023;
//  --ion-color-dark-tint: #383a3e;
//
//  --ion-color-medium: #989aa2;
//  --ion-color-medium-rgb: 152,154,162;
//  --ion-color-medium-contrast: #ffffff;
//  --ion-color-medium-contrast-rgb: 255,255,255;
//  --ion-color-medium-shade: #86888f;
//  --ion-color-medium-tint: #a2a4ab;
//
//  --ion-color-light: #f4f5f8;
//  --ion-color-light-rgb: 244,244,244;
//  --ion-color-light-contrast: #000000;
//  --ion-color-light-contrast-rgb: 0,0,0;
//  --ion-color-light-shade: #d7d8da;
//  --ion-color-light-tint: #f5f6f9;
//
//}

@font-face {
  font-family: 'Orbitron';
  src: url('../assets/fonts/Orbitron-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}

//* {
//  font-family: 'Montserrat';
//}

:root {
  --ion-color-primary: #D72638;
  --ion-color-primary-rgb: 215,38,56;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #bd2131;
  --ion-color-primary-tint: #db3c4c;

  --ion-color-secondary: #ee964b;
  --ion-color-secondary-rgb: 238,150,75;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #d18442;
  --ion-color-secondary-tint: #f0a15d;

  --ion-color-tertiary: #fea544;
  --ion-color-tertiary-rgb: 254,165,68;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #e0913c;
  --ion-color-tertiary-tint: #feae57;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
