<jr-menu-header title="Profile">
    <ion-button color="primary" [routerLink]="'edit-profile/' + promoter?.id">
        <ion-icon name="create-outline"></ion-icon>
        Bearbeiten
    </ion-button>
</jr-menu-header>

<ion-content>
    <ion-grid *ngIf="isLoading">
        <jr-spinner></jr-spinner>
    </ion-grid>
    <ion-grid *ngIf="!isLoading">
        <ion-row class="ion-text-center" *ngIf="!isApproved">
            <ion-col size-sm="12">
                <ion-text>Der Registrierungsprozess ist noch nicht abgeschlossen. Bis dahin bleibt diese Seite leer.
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="promoter && isApproved">
            <ion-col size-sm="12">
                <ng-container *ngIf="promoter.name">
                    <ion-row class="ion-text-center">
                        <ion-col>
                            <ion-img [src]="promoter.logoUrl" alt="" class="promoterDetail-image"></ion-img>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size-sm="8" offset-sm="2">
                            <ion-item mode="ios" lines="none">
                                <ion-label mode="ios">
                                    <h1><strong>{{promoter.name}}</strong></h1>
                                </ion-label>
                            </ion-item>
                            <ion-item mode="ios" lines="none">
                                <ion-icon slot="start" name="person-outline"></ion-icon>
                                <ion-label mode="ios">
                                    <h3>{{promoter.contact}}</h3>
                                </ion-label>
                            </ion-item>
                            <ion-item mode="ios" lines="none">
                                <ion-icon slot="start" name="location-outline"></ion-icon>
                                <ion-label mode="ios">
                                    <h3>{{promoter.zip}} {{promoter.city}}</h3>
                                    <h3>{{promoter.address}}</h3>
                                </ion-label>
                            </ion-item>
                            <ion-item mode="ios" lines="none">
                                <ion-icon slot="start" name="call-outline"></ion-icon>
                                <ion-label mode="ios">
                                    <h3>{{promoter.telephone}}</h3>
                                </ion-label>
                            </ion-item>
                            <ion-item mode="ios" lines="none">
                                <ion-icon slot="start" name="mail-outline"></ion-icon>
                                <ion-label mode="ios">
                                    <h3>{{promoter.email}}</h3>
                                </ion-label>
                            </ion-item>
                            <ion-item mode="ios" lines="none">
                                <ion-icon slot="start" name="globe-outline"></ion-icon>
                                <ion-label mode="ios">
                                    <h3>{{promoter.homepage}}</h3>
                                </ion-label>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ng-container>
                <ng-container *ngIf="!promoter.name">
                    <ion-row class="ion-text-center">
                        <ion-col size-sm="12">
                            <ion-text>Dein Profil ist im Moment leer. Bitte fülle dein Profil aus.</ion-text>
                            <ion-button>Profil bearbeiten</ion-button>
                        </ion-col>
                    </ion-row>
                </ng-container>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-center" *ngIf="isApproved && !promoter">
            <ion-col size-sm="12">
                <ion-text>Dein Konto wurde erstellt, aber wir haben dir noch keine persönliche ID zugewiesen.
                    Versuche es später noch einmal.
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
