<jr-menu-header title="Events"></jr-menu-header>

<ion-content color="light">
  <tb-infinite-scroll-content [infiniteService]="events$">
    <ion-grid>
      <ng-container>
        <ion-row>
          <ion-col size-md="8" offset-md="2">
            <ng-container>
              <ion-chip mode="ios" color="primary" outline (click)="onOpenDateFrom()">
                <ion-icon mode="ios" name="calendar"></ion-icon>
                <ion-label mode="ios">{{dateFromFilter ? (dateFromFilter | date) : 'Von'}}</ion-label>
              </ion-chip>
              <ion-datetime mode="ios" #dateFrom style="display: none" [(ngModel)]="dateFromFilter" (ionChange)="onDatePicked()" [min]="pickerMinDate"></ion-datetime>
            </ng-container>
            <ng-container>
              <ion-chip mode="ios" color="primary" outline (click)="onOpenDateTo()">
                <ion-icon mode="ios" name="calendar"></ion-icon>
                <ion-label mode="ios">{{dateToFilter ? (dateToFilter | date) : 'Bis'}}</ion-label>
              </ion-chip>
              <ion-datetime mode="ios" #dateTo style="display: none" [(ngModel)]="dateToFilter" (ionChange)="onDatePicked()" [min]="dateFromFilter ?  dateFromFilter : pickerMinDate"></ion-datetime>
            </ng-container>
            <ng-container>
              <ion-chip mode="ios" color="primary" outline (click)="onOpenCountrySelector()">
                <ion-label mode="ios">{{countryFilter ? (countryFilter | country) : 'Land'}}</ion-label>
              </ion-chip>
            </ng-container>
            <ion-chip mode="ios" (click)="onClearFilter()" *ngIf="dateFromFilter || dateToFilter || countryFilter">
              <ion-label mode="ios">Löschen</ion-label>
              <ion-icon mode="ios" name="close-circle"></ion-icon>
            </ion-chip>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-md="8" offset-md="2">
            <ion-list mode="ios" class="events-list">
              <ng-container *ngIf="(events$.data | async) as events">
                <app-event-item *ngFor="let event of events; trackBy: trackByEventId" [data]="event" ></app-event-item>
                <div class="ion-text-center" *ngIf="events?.length === 0 && !(events$.loading | async)">
                  <h4>Keine Events gefunden. Bitte versuche es später noch einmal oder wähle andere Filter Optionen.</h4>
                </div>
                <jr-spinner *ngIf="events.length === 0 && events$.loading | async"></jr-spinner>
              </ng-container>
            </ion-list>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
  </tb-infinite-scroll-content>
</ion-content>
