<ion-app>
    <ion-menu mode="ios" side="start" menuId="main" contentId="main">
        <ion-header mode="ios">
            <ion-toolbar mode="ios" >
                <ion-title>
                    <span style="font-family: 'Orbitron'; color: #D72638;">just</span><span style="font-family: 'Orbitron';">race</span>
<!--                    <ion-img src="../assets/logo/justrace.jpg"></ion-img>-->
                </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <app-menu></app-menu>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>

<!--    <ion-backdrop stop-propagation="false" style="opacity: 0.3"></ion-backdrop>-->
<!--    <jr-spinner class="app-spinner" text="Loading content..."></jr-spinner>-->
</ion-app>
