<ion-item mode="ios" [formGroup]="parentForm">
  <ion-label mode="ios" position="floating">Strecke</ion-label>
  <ion-select mode="ios" [interfaceOptions]="selectTrackAlertOptions" interface="alert"
              formControlName="track" [selectedText]="parentForm.value.track?.name">
    <ion-select-option *ngFor="let track of (tracks$ | async)" [value]="track">
      {{track.name}}</ion-select-option>
  </ion-select>
</ion-item>
