<jr-header backUrl="/auth" title="Recover Password"></jr-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item mode="ios">
            <ion-label mode="ios" position="floating">E-Mail</ion-label>
            <ion-input mode="ios" type="text" formControlName="email"></ion-input>
          </ion-item>
          <ion-label mode="ios" *ngIf="!form.controls.email.valid && form.controls.email.touched" lines="none">
            <p>Bitte gib eine gültige E-Mail Addresse ein.</p>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button mode="ios" type="button" color="primary" expand="block" (click)="onSendRecoveryEmail()" [disabled]="!form.valid">Passwort zurücksetzen</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
