<ion-content color="light" #content (ionScroll)="watchScroll($event)" [scrollEvents]="true">
  <ng-content></ng-content>
  <ion-fab [ngClass]="showScrollToTopButton ? '' : 'scrollToTopHidden'" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button mode="ios" (click)="onScrollToTop()">
      <ion-icon mode="ios" name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="onScrollBottom($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
