<jr-header backUrl="/core/admin" title="Business"></jr-header>

<ion-content>

  <tb-business-account-item *ngFor="let business of (businesses$ | async)" [data]="business"></tb-business-account-item>
</ion-content>
