<ion-item mode="ios">
  <ion-label mode="ios">
    <h2>{{ data.name}}</h2>
    <h3>
      {{ data.country | country }}
    </h3>
    <p>{{ data.length }} m</p>
  </ion-label>
  <ion-button mode="ios" slot="end" fill="clear" (click)="onEdit()" size="default">
    <ion-icon mode="ios" slot="icon-only" name="create"></ion-icon>
  </ion-button>
  <ion-button mode="ios" slot="end" fill="clear" (click)="onDelete()" size="default">
    <ion-icon mode="ios" slot="icon-only" name="trash"></ion-icon>
  </ion-button>
</ion-item>
