<jr-header backUrl="/core/events" title="{{(event$ | async)?.promoter?.name ? 'Event von ' + (event$ | async)?.promoter.name : 'Lade...'}}"></jr-header>

<ion-content>
    <ion-grid *ngIf="isLoading">
        <jr-spinner></jr-spinner>
    </ion-grid>
    <ion-grid *ngIf="!isLoading">
        <ion-row class="ion-text-center" *ngIf="(event$ | async)?.promoter.logoUrl">
            <ion-col size-sm="6" offset-sm="3">
                <ion-img class="eventDetail-image" alt="promoter-image" [src]="(event$ | async)?.promoter.logoUrl"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-item mode="ios" lines="none">
                    <ion-label mode="ios">
                        <h1><strong>{{(event$ | async)?.promoter.name}}</strong></h1>
                    </ion-label>
                </ion-item>
                <ion-item mode="ios" lines="none">
                    <ion-icon slot="start" name="flag-outline"></ion-icon>
                    <ion-label mode="ios">
                        <h2>{{(event$ | async)?.track.name}}</h2>
                    </ion-label>
                </ion-item>
                <ion-item mode="ios" lines="none">
                    <ion-icon slot="start" name="calendar-outline"></ion-icon>
                    <ion-label mode="ios">
                        <h3>{{(event$ | async)?.dateFrom | date}} - {{(event$ | async)?.dateTo | date}}</h3>
                    </ion-label>
                </ion-item>
                <ion-item mode="ios" lines="none">
                    <ion-icon slot="start" name="wallet-outline"></ion-icon>
                    <ion-label mode="ios">
                        <h2><strong>ab {{(event$ | async)?.price | currency : 'EUR'}}</strong></h2>
                    </ion-label>
                </ion-item>
                <ion-item-divider mode="ios">
                    <ion-label>
                        Services
                    </ion-label>
                </ion-item-divider>
                <ion-item mode="ios" lines="full">
                    <ion-icon slot="start" name="fast-food-outline"></ion-icon>
                    <ion-label mode="ios">
                        <h2><strong>Catering</strong></h2>
                    </ion-label>
                    <ion-icon slot="end" [color]="(event$ | async)?.catering ? 'success' : 'danger'"
                              [name]="(event$ | async)?.catering ? 'checkmark-outline' : 'close-outline'"></ion-icon>
                </ion-item>
                <ion-item mode="ios" lines="full">
                    <ion-icon slot="start" name="help-buoy-outline"></ion-icon>
                    <ion-label mode="ios">
                        <h2><strong>Anweisungen</strong></h2>
                    </ion-label>
                    <ion-icon slot="end" [color]="(event$ | async)?.instructions ? 'success' : 'danger'"
                              [name]="(event$ | async)?.instructions ? 'checkmark-outline' : 'close-outline'"></ion-icon>
                </ion-item>
                <ion-item mode="ios" lines="full">
                    <ion-icon slot="start" name="ribbon-outline"></ion-icon>
                    <ion-label mode="ios">
                        <h2><strong>Rennen</strong></h2>
                    </ion-label>
                    <ion-icon slot="end" [color]="(event$ | async)?.races ? 'success' : 'danger'"
                              [name]="(event$ | async)?.races ? 'checkmark-outline' : 'close-outline'"></ion-icon>
                </ion-item>
                <ion-item mode="ios" lines="full">
                    <ion-icon slot="start" name="camera-outline"></ion-icon>
                    <ion-label mode="ios">
                        <h2><strong>Photo Service</strong></h2>
                    </ion-label>
                    <ion-icon slot="end" [color]="(event$ | async)?.photoService ? 'success' : 'danger'"
                              [name]="(event$ | async)?.photoService ? 'checkmark-outline' : 'close-outline'"></ion-icon>
                </ion-item>
                <ion-item mode="ios" lines="full">
                    <ion-icon slot="start" name="build-outline"></ion-icon>
                    <ion-label mode="ios">
                        <h2><strong>Service</strong></h2>
                    </ion-label>
                    <ion-icon slot="end" [color]="(event$ | async)?.service ? 'success' : 'danger'"
                              [name]="(event$ | async)?.service ? 'checkmark-outline' : 'close-outline'"></ion-icon>
                </ion-item>
                <ion-item mode="ios" lines="full">
                    <ion-icon slot="start" name="timer-outline"></ion-icon>
                    <ion-label mode="ios">
                        <h2><strong>Zeiterfassung</strong></h2>
                    </ion-label>
                    <ion-icon slot="end" [color]="(event$ | async)?.timekeeping ? 'success' : 'danger'"
                              [name]="(event$ | async)?.timekeeping ? 'checkmark-outline' : 'close-outline'"></ion-icon>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-col size-sm="6" offset-sm="3">
                <ion-button (click)="onBookEvent()">Jetzt buchen</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
