<jr-header backUrl="/business/core" title="Neues Event erstellen">
    <ion-button mode="ios" (click)="onCreateEvent()" [disabled]="!form?.valid">
        <ion-icon mode="ios" name="checkmark" slot="icon-only"></ion-icon>
    </ion-button>
</jr-header>

<ion-content>
    <ion-grid *ngIf="isLoading">
        <jr-spinner></jr-spinner>
    </ion-grid>
    <form [formGroup]="form" *ngIf="!isLoading">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="3" offset-sm="3">
                    <tb-date-input [parentForm]="form" parentFormControlName="dateFrom" label="Von"
                                   min="2020-01-01" max="2030-12-31"></tb-date-input>
                </ion-col>
                <ion-col size-sm="3">
                    <tb-date-input [parentForm]="form" parentFormControlName="dateTo" label="Bis" min="2020-01-01"
                                   max="2030-12-31"></tb-date-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <tb-tracks-select [parentForm]="form"></tb-tracks-select>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <tb-number-input [parentForm]="form" parentFormControlName="price" label="Preis"></tb-number-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <tb-toggle [parentForm]="form" parentFormControlName="catering" label="Catering"></tb-toggle>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <tb-toggle [parentForm]="form" parentFormControlName="instructions"
                               label="Anweisungen"></tb-toggle>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <tb-toggle [parentForm]="form" parentFormControlName="races" label="Rennen"></tb-toggle>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <tb-toggle [parentForm]="form" parentFormControlName="photoService"
                               label="Photo Service"></tb-toggle>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <tb-toggle [parentForm]="form" parentFormControlName="service" label="Service"></tb-toggle>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <tb-toggle [parentForm]="form" parentFormControlName="timekeeping" label="Zeiterfassung"></tb-toggle>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
