<ion-header mode="ios">
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Benutzernamen erstellen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-text>Es scheint als hättest du noch keinen Benutzernamen. Bitte trage jetzt einen Benutzernamen ein.</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size-sm="6" offset-sm="3">
        <form [formGroup]="form">
          <ion-item mode="ios">
            <ion-label mode="ios" position="floating">Benutzername</ion-label>
            <ion-input mode="ios" type="text" formControlName="nickname"></ion-input>
          </ion-item>
          <ion-label mode="ios"
                     *ngIf="!form.controls.nickname.valid && form.controls.nickname.touched"
                     lines="none">
            <p>Mindestens 6 Zeichen lang.</p>
          </ion-label>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset="3">
        <ion-button [disabled]="!form?.valid" mode="ios" type="button" color="primary" fill="clear" expand="block" (click)="onSubmit()">Speichern</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
