<ion-card mode="ios" (click)="onShowDetails()">
  <ion-item mode="ios" button lines="none">
    <ion-chip slot="end">
      <ion-icon name="star" size="small"></ion-icon>
      <ion-label>4.7</ion-label>
    </ion-chip>

    <ion-label mode="ios">
      <h2><strong>{{ data.name}}</strong></h2>
      <h3>{{data.email}}
      </h3>
      <p>{{data.telephone}}</p>
    </ion-label>
  </ion-item>
</ion-card>
