.promoterItem-card {
  background-color: rgba(0, 120, 191, 0.5);
}

.promoterItem-image {
  height: 10rem;
  width: 100%;
  object-fit: contain;
  background-color: white;
}

.promoterItem-emptyImage {
  height: 10rem;
  width: 100%;
  background: #a2a4ab;
}
