<jr-menu-header title="Dein Profil"></jr-menu-header>

<ion-content>
    <ion-grid *ngIf="isLoading">
        <jr-spinner></jr-spinner>
    </ion-grid>
    <ion-grid *ngIf="!isLoading">
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-item mode="ios">
                    <ion-button mode="ios" slot="end" fill="clear" size="default"
                                [routerLink]="'edit/' + (profile$ | async)?.id">Ändern
                    </ion-button>
                </ion-item>
                <form [formGroup]="form">
                    <ion-item mode="ios" lines="none" *ngIf="(profile$ | async)?.email">
                      <ion-icon slot="start" name="mail-outline"></ion-icon>
                        <ion-label mode="ios">
                            <h3>{{ (profile$ | async)?.email }}</h3>
                        </ion-label>
                    </ion-item>
                    <ion-item mode="ios" lines="none" *ngIf="(profile$ | async)?.birthday ">
                        <ion-icon name="school-outline" slot="start"></ion-icon>
                        <ion-label mode="ios">
                            <h3>Geburtstag: {{ (profile$ | async)?.birthday | date }}</h3>
                        </ion-label>
                    </ion-item>
                    <ion-item mode="ios" lines="none" *ngIf="
                    (profile$ | async)?.zip || (profile$ | async)?.city || (profile$ | async)?.address || (profile$ | async)?.country
">
                        <ion-icon slot="start" name="location-outline"></ion-icon>
                        <ion-label mode="ios">
                            <h3>{{ (profile$ | async)?.zip }} {{ (profile$ | async)?.city }}</h3>
                            <h3>{{ (profile$ | async)?.address }}</h3>
                            <h3>{{ (profile$ | async)?.country }}</h3>
                        </ion-label>
                    </ion-item>
                    <ion-item mode="ios" lines="none" *ngIf="(profile$ | async)?.phoneNumber">
                        <ion-icon name="call-outline" slot="start"></ion-icon>
                        <ion-label mode="ios">
                            <h3>{{ (profile$ | async)?.phoneNumber }}</h3>
                        </ion-label>
                    </ion-item>
                </form>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-col size-sm="6" offset-sm="3">
                <ion-button mode="ios" fill="clear" (click)="onSaveSettings()">Änderungen speichern</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
