<jr-menu-header title="Events">
  <ion-button routerLink="business-add-event">
    <ion-icon slot="icon-only" name="add-outline" ></ion-icon>
  </ion-button>
</jr-menu-header>

<ion-content color="light">
  <tb-infinite-scroll-content [infiniteService]="events$">
    <ion-grid>
      <ion-row >
        <ion-col size-md="8" offset-md="2">
          <ion-list mode="ios" class="events-list">
            <ng-container *ngIf="(events$.data | async) as events">
              <tb-business-event-item *ngFor="let event of events; trackBy: trackByEventId" [data]="event" (delete)="onItemWasDeleted()"></tb-business-event-item>
              <div class="ion-text-center" *ngIf="events?.length === 0 && !(events$.loading | async)">
                <h4>Keine Events gefunden. Bitte versuche es später noch einmal oder wähle andere Filter Optionen aus.</h4>
              </div>
              <jr-spinner *ngIf="events.length === 0 && events$.loading | async"></jr-spinner>
            </ng-container>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </tb-infinite-scroll-content>
</ion-content>
