<jr-header backUrl="/core/admin/promoters" title="Veranstalter bearbeiten">
  <ion-button mode="ios" (click)="onUpdatePromoter()" [disabled]="!form?.valid">
    <ion-icon mode="ios" name="checkmark" slot="icon-only"></ion-icon>
  </ion-button>
</jr-header>

<ion-content>
  <ion-grid *ngIf="(state$ | async).loading">
    <jr-spinner></jr-spinner>
  </ion-grid>
  <form [formGroup]="form" *ngIf="!(state$ | async).loading">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <app-image-picker (imagePick)="onImagePicked($event)" [showPreview]="form.get('logoUrl').value"
            [useCamera]="false">
          </app-image-picker>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="name" label="Name"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="homepage" label="Homepage"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="contact" label="Kontakt"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="address" label="Addresse"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="zip" label="PLZ"></tb-text-input>
        </ion-col>
        <ion-col size-sm="4">
          <tb-text-input [parentForm]="form" parentFormControlName="city" label="Stadt"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="telephone" label="Telefon"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-email-input [parentForm]="form" parentFormControlName="email" label="E-Mail"></tb-email-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
