<jr-menu-header title="Messenger"></jr-menu-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>Coming soon</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
