<ion-tabs>
  <ion-tab-bar mode="ios" slot="bottom">
    <ion-tab-button mode="ios" tab="profile">
      <ion-label mode="ios">Profil</ion-label>
      <ion-icon mode="ios" name="person-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button mode="ios" tab="businessEvents">
      <ion-label mode="ios">Events</ion-label>
      <ion-icon mode="ios" name="list"></ion-icon>
    </ion-tab-button>
    <ion-tab-button mode="ios" tab="messenger">
      <ion-label mode="ios">Messenger</ion-label>
      <ion-icon mode="ios" name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button mode="ios" tab="analytics">
      <ion-label mode="ios">Analytics</ion-label>
      <ion-icon mode="ios" name="analytics-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
