<ion-item mode="ios" [formGroup]="parentForm">
  <ion-label mode="ios" position="floating">Veranstalter</ion-label>
  <ion-select mode="ios" [interfaceOptions]="selectPromoterAlertOptions" interface="alert" formControlName="promoter" [selectedText]="parentForm.value.promoter?.name">
    <ion-select-option *ngFor="let promoter of (promoters$ | async)" [value]="promoter">
      {{promoter.name}}</ion-select-option>
  </ion-select>
</ion-item>
