<ion-item mode="ios" [formGroup]="parentForm">
  <ion-label mode="ios" position="floating">{{label}}</ion-label>
  <ion-datetime mode="ios" [min]="min" [max]="max" [formControlName]="parentFormControlName"></ion-datetime>
</ion-item>
