<ion-item mode="ios" [formGroup]="parentForm">
  <ion-label mode="ios" position="floating">Land</ion-label>
  <ion-select mode="ios" [interfaceOptions]="selectCountryAlertOptions" interface="alert" formControlName="country" [selectedText]="parentForm.value.country">
    <ion-select-option *ngFor="let country of countries" [value]="country.key">
      {{country.selectorText}}</ion-select-option>
  </ion-select>
</ion-item>
