<jr-menu-header title="Veranstalter"></jr-menu-header>

<ion-content>
    <tb-infinite-scroll-content [infiniteService]="promoters$">
        <ion-grid>
            <ion-row>
                <ng-container *ngIf="(promoters$.data | async) as promoters">
                    <ion-col size-md="8" offset-md="2" >
                        <ion-list mode="ios" class="promoters-list">
                            <app-promoter-item *ngFor="let promoter of promoters; trackBy: trackByPromoterId" [data]="promoter"></app-promoter-item>
                            <div class="ion-text-center" *ngIf="promoters.length === 0 && !(promoters$.loading | async)">
                                <h4>Keine Veranstalter gefunden. Bitte versuche es später erneut.</h4>
                            </div>
                            <jr-spinner *ngIf="promoters.length === 0 && promoters$.loading | async"></jr-spinner>
                        </ion-list>
                    </ion-col>
                </ng-container>
            </ion-row>
        </ion-grid>
    </tb-infinite-scroll-content>
</ion-content>
