<jr-menu-header title="Kalender"></jr-menu-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-text-center">
            <ion-col size="4">
                <ion-button (click)="onPrevious()" fill="clear">
                    Previous
                </ion-button>
            </ion-col >
            <ion-col size="4">
                <h3>{{firstOfMonth | date: 'MMMM'}}</h3>
            </ion-col>
            <ion-col size="4">
                <ion-button (click)="onNext()" fill="clear">
                    Next
                </ion-button>
            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <div class="calendar-grid">
                    <div *ngFor="let day of days">
                        <ion-button class="calender-button"
                                    [fill]="(today.getDate() === day.getDate()) && (today.getMonth() === day.getMonth()) ? 'solid' : 'clear'"
                                    mode="ios" shape="round" size="small">
                            {{day.getDate()}}
                        </ion-button>
                    </div>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>
