<ion-header mode="ios">
  <ion-toolbar mode="ios" color="secondary">
    <ion-buttons slot="start">
      <ion-button mode="ios" (click)="onDismissModal()">
        <ion-icon mode="ios" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Wähle ein Event</ion-title>
    <ion-buttons slot="primary">
      <ion-button mode="ios" (click)="onSelect()">
        <ion-label mode="ios">
          <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
        </ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content [scrollEvents]="true" (ionScroll)="watchScroll($event)" color="light">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-radio-group formControlName="event">
            <ion-item color="light" mode="ios" *ngFor="let event of events$.data | async">
              <ion-label>
                <ion-text>
                  <h3>{{event.track.name}}</h3>
                </ion-text>
                <ion-text>
                  <p>{{event.dateFrom | date}} - {{event.dateTo | date}}</p>
                </ion-text>
              </ion-label>
              <ion-radio slot="start" [value]="event"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-fab [ngClass]="showScrollToTopButton ? '' : 'scrollToTopHidden'" vertical="bottom" horizontal="end"
           slot="fixed">
    <ion-fab-button mode="ios" (click)="onScrollToTop()">
      <ion-icon mode="ios" name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="onScrollBottom($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
