<jr-menu-header title="Messenger"></jr-menu-header>

<ion-content color="light">
    <ion-grid>
      <jr-spinner *ngIf="!(r_chats$ | async)"></jr-spinner>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <tb-chat-item *ngFor="let chat of r_chats$ | async" [data]="chat"></tb-chat-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="(r_chats$ | async)?.length === 0" size-sm="12" class="ion-text-center">
          <ion-text>Keine Chats gefunden</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
