<ion-tabs>
  <ion-tab-bar mode="ios" slot="bottom">
    <ion-tab-button mode="ios" tab="events">
      <ion-label mode="ios">Events</ion-label>
      <ion-icon mode="ios" name="list"></ion-icon>
    </ion-tab-button>
    <ion-tab-button mode="ios" tab="promoters">
      <ion-label mode="ios">Veranstalter</ion-label>
      <ion-icon mode="ios" name="people"></ion-icon>
    </ion-tab-button>
    <ion-tab-button mode="ios" tab="tracks">
      <ion-label mode="ios">Strecken</ion-label>
      <ion-icon mode="ios" name="flag"></ion-icon>
    </ion-tab-button>
    <ion-tab-button mode="ios" tab="messenger" *ngIf="userIsAuthenticated$ | async">
      <ion-badge *ngIf="(unreadMessages$| async) !== 0" color="danger">{{unreadMessages$ | async}}</ion-badge>
      <ion-label mode="ios">Messenger</ion-label>
      <ion-icon mode="ios" name="chatbubbles"></ion-icon>
    </ion-tab-button>
    <ion-tab-button mode="ios" tab="admin" *ngIf="userIsAdmin$ | async">
      <ion-label mode="ios">Admin</ion-label>
      <ion-icon mode="ios" name="hammer"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
