<jr-header backUrl="/core/admin/tracks" title="Neue Strecke erstellen">
  <ion-button mode="ios" (click)="onCreateTrack()" [disabled]="!form.valid">
    <ion-icon mode="ios" name="checkmark" slot="icon-only"></ion-icon>
  </ion-button>
</jr-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <app-image-picker (imagePick)="onImagePicked($event)" [showPreview]="form.get('layoutImgUrl').value"
            [useCamera]="false">
          </app-image-picker>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="name" label="Name"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="address" label="Addresse"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="2" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="zip" label="PLZ"></tb-text-input>
        </ion-col>
        <ion-col size-sm="4">
          <tb-text-input [parentForm]="form" parentFormControlName="city" label="Stadt"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-country-select [parentForm]="form"></tb-country-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="homepage" label="Homepage"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="length" label="Länge"></tb-text-input>
        </ion-col>
        <ion-col size-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="width" label="Breite"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-text-input [parentForm]="form" parentFormControlName="drivingDirection" label="Fahrtrichtung"></tb-text-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <tb-number-input [parentForm]="form" parentFormControlName="numberOfTurns" label="Kurven"></tb-number-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
