<jr-menu-header title="Authentication"></jr-menu-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list mode="ios">
            <ion-item mode="ios">
              <ion-label mode="ios" position="floating">E-Mail</ion-label>
              <ion-input mode="ios" type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-label mode="ios" *ngIf="!form.controls.email.valid && form.controls.email.touched"
                       lines="none">
              <p>Bitte eine gültige Email-Addresse eingeben.</p>
            </ion-label>
            <ion-item mode="ios">
              <ion-label mode="ios" position="floating">Passwort</ion-label>
              <ion-input mode="ios" type="password" formControlName="password">
              </ion-input>
            </ion-item>
            <ion-label mode="ios"
                       *ngIf="!form.controls.password.valid && form.controls.password.touched"
                       lines="none">
              <p>Mindestens 6 Zeichen lang.</p>
            </ion-label>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button mode="ios" type="button" color="primary" fill="clear" expand="block"
                      (click)="onSwitchAuthMode()">
            {{ isLogin ? "Don't have an account? Switch to Signup" : "Already have an account? Switch to Login" }}
          </ion-button>
          <ion-button mode="ios" type="button" color="primary" *ngIf="!isLoading" expand="block"
                      [disabled]="!form.valid"
                      (click)="onSubmit()">
            {{ isLogin ? 'Login' : 'Signup' }}
          </ion-button>
          <ion-button mode="ios" type="button" color="secondary" fill="clear" expand="block"
                      (click)="onPasswordForgotten()">Password vergessen?
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
