 <ion-button mode="ios" (click)="onPickJSON()">
   <ion-icon mode="ios" name="document-outline" slot="icon-only"></ion-icon>
 </ion-button>
 <input type="file" accept="application/JSON" #filePicker (change)="onFileChosen($event)" />
