<ion-row class="ion-text-center">
  <ion-col>
    <ion-spinner color="primary"></ion-spinner>
  </ion-col>
</ion-row>
<ion-row class="ion-text-center">
  <ion-col>
    <ion-text *ngIf="text">{{text}}</ion-text>
  </ion-col>
</ion-row>
